.App {
  text-align: left;
  display: flex;
  height: 100vh;
}



.content {
  margin-right: 250px; /* Same width as the sidebar */
  padding: 20px;
  flex: 1;
}

.container h4 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
}

.bg-myColor {
  background-color: #8e1632
}

.button-custom{
  background-color: #8e1632 !important;
  border-color: #8e1632 !important;
}

/* src/Sidebar.css */
.sidebar {
  position: fixed;
  top: 56px; /* Height of the navbar */
  right: 0;
  width: 250px;
  height: calc(100% - 56px);
  background: #F3E3FF;
  color: #000;
  padding-top: 20px;
  overflow-y: auto;
}

.sidebar .nav-link {
  color: #8e1632;
  font-size: 16px;
  border-left: solid #FFC4E0;
}

.sidebar .nav-link:hover {
  background: #FFC4E0;
}

.sidebar .nav-link.active {
  background: #FFC4E0;
  font-weight: bold;
  border-left: solid;
}